package views

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Document</title>
			<link rel="stylesheet" href="static/css/output.css"/>
		</head>
		<body class="h-dvh bg-zinc-100 dark:bg-zinc-900">
			{ children... }
		</body>
	</html>
}
